.topSection-Container{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 10rem;padding-bottom: 10rem;

}
.inner-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1502px;
}
.left-section{
    width: 50%;
    padding: 0;
}
.right-section{
    width: 50%;
    height: 350px;
    padding: 0;
}

@media(max-width:1205px){
    .left-section{
        width: 100%;
    }
    .right-section{
        display: none;
    }
    .topSection-Container{
        padding-top: 6rem;padding-bottom: 6rem;
    }
}

@media(max-width:700px){
    .inner-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        height: 100%;
        width: 100%;
        max-width: 1502px;
    }
    .topSection-Container{
        padding-top: 2rem;padding-bottom: 2rem;
    }
}