<div class="projects-container">
    <div class="projects-page-intro" >
        <div class="intro-container" id="projectIntro">
            <h1>Project Experience</h1>
            <p>Our portfolio showcases our commitment to excellence, innovation, and client satisfaction. From residential to commercial developments, our projects reflect our passion for quality craftsmanship. Join us as we shape the landscape and build a brighter future, project by project.</p>
        </div>
    </div>
    <div style="position:relative;" id="projects-div">
        <div class="blur-back"></div>
        <div style="display:flex;flex-direction:column;width:100%;align-items:center;">
            <p style="color:#cbcbcb" id="scrollDown">Scroll down <i class="bi bi-chevron-compact-down"></i></p>
        </div>
        <h3 style="color: orange;font-weight:bold; align-self:start;" id="CompletedProjects">Completed Projects</h3>
        <hr style="background-color: #ffffff;border:2px solid white;margin-bottom:2rem;" />
        <div class="projects-portfolio">
            <div class="portfolio">
                <div class="project-title">
                    <h5>
                        Naga Visayas Substation Control Building
                    </h5>
                </div>
                <div class="project-image-container">
                    <img class="image-main" src="/assets/Images/Projects/nagaSub1.png" />
                    <img class="image-sub" src="/assets/Images/Projects/nagaSub2.png" />
                </div>
                <div class="project-details">
                    <p class="details"><strong>Location:</strong> <span>Colon, City of Naga, Cebu</span></p>
                    <p class="details"><strong>Scope of work:</strong> <span>Construction</span></p>
                    <p class="details"><strong>Client:</strong> <span>NGCP</span></p>
                    <p class="details"><strong>Main Contractor:</strong> <span>Miescor</span></p>
                </div>
            </div>
            <div class="portfolio">
                <div class="project-title">
                    <h5>
                        Butuan Substation Control Building
                    </h5>
                </div>
                <div class="project-image-container">
                    <img class="image-main" src="/assets/Images/Projects/butuanSub1.png" />
                    <img class="image-sub" src="/assets/Images/Projects/butuanSub2.png" />
                </div>
                <div class="project-details">
                    <p class="details"><strong>Location:</strong> <span>Kinalumtan, Butuan City</span></p>
                    <p class="details"><strong>Scope of work:</strong> <span>Construction</span></p>
                    <p class="details"><strong>Client:</strong> <span>NGCP</span></p>
                    <p class="details"><strong>Main Contractor:</strong> <span>Miescor</span></p>
                </div>
            </div>
            <div class="portfolio">
                <div class="project-title">
                    <h5>
                        Construction of Warehouse, Installation of Sifting and Drying Machine
                    </h5>
                </div>
                <div class="project-image-container">
                    <img class="image-main" src="/assets/Images/Projects/warehouse1.png" />
                    <img class="image-sub" style="object-fit:cover;" src="/assets/Images/Projects/warehouse2.png" />
                </div>
                <div class="project-details">
                    <p class="details"><strong>Location:</strong> <span>Juan Climaco Sr., Toledo City</span></p>
                    <p class="details"><strong>Scope of work:</strong> <span>Construction</span></p>
                    <p class="details"><strong>Client:</strong> <span>JJ &amp EE Construction</span></p>
                    <p class="details"><strong>Main Contractor:</strong> <span>JJ &amp EE Construction</span></p>
                </div>
            </div>
            
        </div>
        <h3 style="color: orange;font-weight:bold;" id="OngoingProjects">On-going Projects</h3>
        <hr style="background-color: #ffffff;border:2px solid white;margin-bottom:2rem;" />
        <div class="projects-portfolio">

            <div class="portfolio">
                <div class="project-title">
                    <h5>
                        NCB Boracay Substation 69KV GIS Building
                    </h5>
                </div>
                <div class="project-image-container">
                    <img class="image-main" src="/assets/Images/Projects/ncb1.png" />
                    <img class="image-sub" style="object-fit:cover;" src="/assets/Images/Projects/ncb2.png" />
                </div>
                <div class="project-details">
                    <p class="details"><strong>Location:</strong> <span>Manocmanoc, Boracay, Malay, Aklan</span></p>
                    <p class="details"><strong>Scope of work:</strong> <span>Construction</span></p>
                    <p class="details"><strong>Client:</strong> <span>NGCP</span></p>
                    <p class="details"><strong>Main Contractor:</strong> <span>PESTECH</span></p>
                </div>
            </div>
            <div class="portfolio">
                <div class="project-title">
                    <h5>
                        Roofing of the USC Josef Baumgarter Learning Resource Center
                    </h5>
                </div>
                <div class="project-image-container">
                    <img class="image-main" src="/assets/Images/Projects/usc1.png" />
                    <img class="image-sub" style="object-fit:cover;" src="/assets/Images/Projects/usc2.png" />
                </div>
                <div class="project-details">
                    <p class="details"><strong>Location:</strong> <span>Nasipit, Talamban, Cebu City</span></p>
                    <p class="details"><strong>Scope of work:</strong> <span>Construction</span></p>
                    <p class="details"><strong>Client:</strong> <span>USC Talamban Campus</span></p>
                    <p class="details"><strong>Main Contractor:</strong> <span>JJ &amp EE Construction</span></p>
                </div>
            </div>
            
        </div>
        <h3 style="color:white;font-weight:bold;" id="Gallery">GALLERY</h3>
        <hr style="background-color: #ffffff;border:2px solid white;" />
        <div class="gallery">
            <img class="gallery-img" src="/assets/Gallery/1.jpg" />
            <img class="gallery-img" src="/assets/Gallery/2.jpg" />
            <img class="gallery-img" src="/assets/Gallery/3.jpg" />
            <img class="gallery-img" src="/assets/Gallery/4.jpg" />
            <img class="gallery-img" src="/assets/Gallery/5.jpg" />
            <img class="gallery-img" src="/assets/Gallery/6.jpg" />
            <img class="gallery-img" src="/assets/Gallery/7.jpg" />
            <img class="gallery-img" src="/assets/Gallery/8.jpg" />
            <img class="gallery-img" src="/assets/Gallery/9.jpg" />
            <img class="gallery-img" src="/assets/Gallery/10.jpg" />
            <img class="gallery-img" src="/assets/Gallery/11.jpg" />
            <img class="gallery-img" src="/assets/Gallery/12.jpg" />
            <img class="gallery-img" src="/assets/Gallery/13.jpg" />
            <img class="gallery-img" src="/assets/Gallery/14.jpg" />
        </div>
    </div>
</div>
