<div class="contact-container">
    <div class="contactUs-photo-cover">
        <h1>Contact Us</h1>
        <p>Greetings! We're delighted that you've made your way to JJ and EE Construction's Contact Us page. Our team is eagerly awaiting your message, whether it's to discuss your project ideas, inquire about our services, or simply say hello. Don't hesitate to reach out - we're here to assist you every step of the way.</p>
    </div>
    <div class="contacts-form-container background-light">
        <div class="contact-form">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4944.998947057596!2d123.65986082213038!3d10.354049583447473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a9734c4ab7a309%3A0x35b43d65532a90ce!2sJJ%20%26%20EE%20Construction%20Supply%20and%20Development%20Corporation!5e0!3m2!1sen!2sph!4v1687695670736!5m2!1sen!2sph" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5>JJ & EE</h5>
                <p>Construction Supply and Development Services</p>
                <p style="margin-bottom:10px;display: flex;flex-direction: row;justify-content: start;align-items: center;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                  </svg>&nbsp;Don Juan Climaco Sr., Toledo City, Cebu</p>
                <p style="margin-bottom:10px;display: flex;flex-direction: row;justify-content: start;align-items: center;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                  </svg>&nbsp;admin&#64;jjandee.com</p>
                <p style="margin-bottom:10px;display: flex;flex-direction: row;justify-content: start;align-items: center;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                  </svg>&nbsp;09175850242</p>
            </div>          
            <div class="contact-fillup-form">
                <form method="post" id="contactForm">
                    <input class="customer-details" type="text" placeholder="Name:" name="Name" required/>
                    <input class="customer-details" type="email" placeholder="Email:" name="Email" required/>
                    <input class="customer-details" type="text" placeholder="Phone Number: (e.g. 09xxxxxxxxx)" name="Number" pattern="^\d{11,}$"/>
                    <textarea class="customer-details customer-message" type="text" placeholder="Message" name="Message" required></textarea>
                    <button class="contact-button" type="submit">Submit</button>
                </form> 
            </div>
        </div>
    </div>
</div>
