<div class="services-container background-light" id="services">
    <h2 class="text-main" style="width: 100%;text-align: start;font-size: 36px;margin:2rem 0 2rem 0;padding: 0 12rem;">Our Services</h2>
    <div class="main-services">
        <div class="services-card background-light">
            <img src="assets/Images/ceEstimate.jpeg"/>
            <h3 class="text-main" style="margin: 1rem 0 1rem 0;">We Estimate</h3>
            <p class="text-dark text-secondary" style="font-size: 14px; text-align: center; max-width: 80%;margin: 0 0 1rem 0;">Customized estimates. Transparent pricing. Trust our expertise for accurate cost evaluations that align with your budget and vision.</p>
        </div>
        <div class="services-card background-light">
            <img src="assets/Images/ceDesign.jpeg"/>
            <h3 class="text-main" style="margin: 1rem 0 1rem 0;">We Design</h3>
            <p class="text-dark text-secondary" style="font-size: 14px; text-align: center; max-width: 80%;margin: 0 0 1rem 0;">Unleash your imagination. With our design expertise, we bring your visions to life, crafting captivating and innovative solutions.</p>
        </div>
        <div class="services-card background-light">
            <img src="assets/Images/ceFabricate.jpeg"/>
            <h3 class="text-main" style="margin: 1rem 0 1rem 0;">We Fabricate</h3>
            <p class="text-dark text-secondary" style="font-size: 14px; text-align: center; max-width: 80%;margin: 0 0 1rem 0;">Precision fabrications realized. Trust our skilled craftsmanship to bring your ideas to reality with meticulous attention to detail and quality.</p>
        </div>
        <div class="services-card background-light">
            <img src="assets/Images/ceConstruct.jpeg"/>
            <h3 class="text-main" style="margin: 1rem 0 1rem 0;">We Construct</h3>
            <p class="text-dark text-secondary" style="font-size: 14px; text-align: center; max-width: 80%;margin: 0 0 1rem 0;">Building dreams, shaping reality. With expertise and dedication, we construct exceptional structures that stand the test of time.</p>
        </div>
    </div>
    <h2 class="text-dark" style="width: 100%;text-align: start;font-size: 36px;margin:2rem 0 2rem 0;padding: 0 12rem;">Other <span class="text-main">Services</span> We <span class="text-main">Offer</span></h2>
    <div class="other-services">
        <div class="other-services-card os-first">
            <h5 class="text-main" style="font-size: 24px;">Equipment Rental</h5>
            <p class="text-light" style="font-size: 20px;">Enhance your projects with our convenient equipment rentals. From specialized tools to heavy machinery, we offer reliable solutions to support your endeavors.</p>
        </div>
        <div class="other-services-card os-second">
            <h5 class="text-main" style="font-size: 24px;">Construction Supply</h5>
            <p class="text-light" style="font-size: 20px;">Unlock the resources for your construction needs. We provide a wide range of reliable construction supplies, ensuring you have the materials necessary to bring your projects to life.</p>
        </div>
        <div class="other-services-card os-third">
            <h5 class="text-main" style="font-size: 24px;">Aggregates Supply</h5>
            <p class="text-light" style="font-size: 20px;">Build with confidence. Our aggregates supply services deliver high-quality materials to meet your construction demands, providing a solid foundation for your projects.</p>
        </div>
    </div>
</div>
