<div class="about-container padding-sides-content" style="padding-top: 2rem;padding-bottom: 4rem;" id="about">
    <div class="inner-container">
        <h1 class="text-light" style="font-size: 70px;margin: 2rem 0;">About Us</h1>
    <p class="text-light" style="padding: 4rem 2rem; background-color: rgba(0, 0, 0, .5);text-align: justify;">
        <strong class="text-main">JJ & EE Construction Supply and Development Services</strong> sprouts from a company named Aurita General Merchandise that supplied various construction and housing materials and aggregates to both individuals and companies for residential, commercial and industrial needs, ensuring quality at its best.<br /><br />

        Progressive years passed, the company grew larger and started to cater greater number of consumers including big construction companies. The owners then changed the name of the company to Emlyn Housing Supply.<br /><br />

        In 2015, the company expanded its stock area due to new consumers’ needs of larger volume and finer material. The company also widened its scope by adding fabricated refinery to meet the requirements of the new power plant consumer, Cebu Energy Development Corporation.<br /><br />

        After a few years of experience in supplying raw and/or construction materials, the company has finally ventured in the construction industry while also catering the needs of other construction companies. The company’s name has, then, been changed to JJ & EE Construction Supply and Development Services.<br /><br />

        With devoted, skilled and experienced employees, the company is slowly making its pace by delivering project that meet deadlines and valued clients’ expectations and budget. Even before, the company takes pride in quality workmanship, quality people and quality materials. Utilizing the equipment, the employees are able to do their job effectively and
        efficiently.<br /><br />

        JJ & EE Construction Supply and Development Services continues improving and developing every  room possible while performing the job based on strong commitment to Safety, Economy, Quality and Performance.
    </p>
    </div>
</div>
