<div class="clients-container">
    <h4><strong>TYPICAL CLIENTS</strong></h4>
    <div class="client-logo-container">
        <div class="client-logo">
            <img style="width: 50%" src="assets/Icons/Clients/IPM.png" />
        </div>
        <div class="client-logo">
            <img style="width: 50%" src="assets/Icons/Clients/CCC.png" />
        </div>
        <div class="client-logo">
            <img style="width: 50%" src="assets/Icons/Clients/NGCP.png" />
        </div>
        <div class="client-logo">
            <img style="width: 50%" src="assets/Icons/Clients/MIESCOR.png" />
        </div>
        <div class="client-logo">
            <img style="width: 50%" src="assets/Icons/Clients/ASCENTIA.png" />
        </div>
        <div class="client-logo">
            <img style="width: 50%" src="assets/Icons/Clients/CEDC.png" />
        </div>
    </div>
